<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/reset.css') }}" /> <!-- RESET -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/main.css') }}" /> <!-- MAIN STYLE SHEET -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/2col.css') }}" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->
        <link rel="alternate stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/1col.css') }}" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
        <!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/main-ie6.css') }}" /><![endif]--> <!-- MSIE6 -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/style.css') }}" /> <!-- GRAPHIC THEME -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/mystyle.css') }}" /> <!-- WRITE YOUR CSS CODE HERE -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/hollolayout/css/slimbox2.css') }}" /> <!-- LIGHTBOX -->
        <script type="text/javascript" src="{{ asset('bundles/hollolayout/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/hollolayout/js/jquery.slimbox2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/hollolayout/js/jquery.switcher.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/hollolayout/js/toggle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/hollolayout/js/ui.core.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/hollolayout/js/ui.tabs.js') }}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
                $(".tabs > ul").tabs();
        });
        </script>

        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
      </head>
    <body>
      <div id="main">

        <!-- Tray -->
        <div id="tray" class="box">

                <p class="f-left box">

                        <!-- Switcher -->
                        <span class="f-left" id="switcher">
                          <a href="#" rel="1col" class="styleswitch ico-col1" title="Display one column"><img src="{{ asset('bundles/hollolayout/images/switcher-1col.gif') }}" alt="1 Column" /></a>
                          <a href="#" rel="2col" class="styleswitch ico-col2" title="Display two columns"><img src="{{ asset('bundles/hollolayout/images/switcher-2col.gif') }}" alt="2 Columns" /></a>
                        </span>

                        Project: <strong>{% render "HolloLayoutBundle:Layout:renderTitle" %}</strong>
                </p>

        </div> <!--  /tray -->

        <hr class="noscreen" />

        <!-- Menu -->
        <div id="menu" class="box">
          {% render "HolloMenuBundle:Menu:topMenu" %}
          {% render "HolloMenuBundle:Menu:topRightMenu" %}
        </div> <!-- /header -->

        <hr class="noscreen" />

        <!-- Columns -->
        <div id="cols" class="box">

                <!-- Aside (Left Column) -->
                <div id="aside" class="box">

                        <div class="padding box">

                                <!-- Logo (Max. width = 200px) -->
                                <p id="logo"><a href="#"><img src="{{ asset('bundles/hollolayout/images/logo.gif') }}" alt="Logo" title="Logo" /></a></p>

                        </div> <!-- /padding -->

                        {% render "HolloMenuBundle:Menu:leftMenu" %}

                </div> <!-- /aside -->

                <hr class="noscreen" />

                <!-- Content (Right Column) -->
                <div id="content" class="box">

                        {% block header %}<h1>{% render "HolloLayoutBundle:Layout:renderTitle" %}</h1>{% endblock %}
                        {% include 'HolloLayoutBundle::flash.html.twig' %}

                        {% block body %}{% endblock %}
                </div> <!-- /content -->
        </div> <!-- /cols -->

        <hr class="noscreen" />

        <!-- Footer -->
        <div id="footer" class="box">
          <p class="f-left">&copy; 2011 <a href="#">{% render "HolloLayoutBundle:Layout:renderTitle" %}</a>, All Rights Reserved &reg;</p>
        </div> <!-- /footer -->
      </div> <!-- /main -->
      {% block javascripts %}{% endblock %}
    </body>
</html>
